.IndexInfo-name {
  font-size: 24px;
}

.IndexInfo-name-clickable:hover {
  color: rgb(187, 183, 183);
  cursor: pointer;
}

/* Added for color styling from inline styles */
.IndexInfo-lime-green {
  color: LimeGreen;
}
.IndexInfo-red {
  color: red;
}

@media only screen and (max-width: 414px) {
  .Indexinfo-description {
    margin-top: -7px;
  }
  .IndexInfo-name {
    font-size: 20px;
  }
}
