.MktSummary {
  background-color: black;

}

.MktSummary-error {
  background-color: black;
  padding: 20px;
  color: white;
}
.MktSummary-loading {
  background-color: black;
  height: 100vh;
}

.MktSummary-news {
  text-align: left;
  color: white;
}

.MktSummary-index-title {
  padding: 10px;
  color: rgb(200, 210, 236);
}

.MktSummary-indices {
  border-bottom: 2px solid grey;
}
