.Article {
  border-top: 1px solid grey;
  padding: 15px;
}

.Article-date {
  font-size: 12px;
}
.Article-link {
  color: rgb(200, 210, 236);
  cursor: pointer;
}

.Article-title:hover {
  color: rgb(187, 183, 183);
  cursor: pointer;
}
.Article-source {
  font-size: 12px;
}
.Article-description {
  font-size: 14px;
}

@media only screen and (max-width: 414px) {
  .Article-title {
    font-size: 18px;
  }
}
