.NewsSummary {
  background-color: black;
}
.NewsSummary-loading {
  background-color: black;
  height: 100vh;
}
.NewsSummary-error {
  background-color: black;
  padding: 20px;
  color: white;
}

.NewsSummary {
  text-align: left;
  color: white;
}

.NewsSummary-title {
  padding: 10px;
  text-align: center;
  color: rgb(200, 210, 236);
}
